{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="ten columns" style="margin-top: 5%">
        <h1>Active Ideas</h1>
        <p>The following ideas are being <strong>actively worked on right now</strong>!  This means they were submitted, voted on, and then found to be actionable - so they were assigned a project leader and kicked off!  If you want to get involved in the project or learn more, click "Contact Project Leader" and reach out!</p>
        <hr>
      </div>
    </div>

<!-- If No Projects Yet -->
<!--
<div class="row">
  <div class="ten columns" style="margin-top: 5%">
    <h2>Nothing Yet!</h2>
    <p>You'd see this part if there were no ideas approved yet.  You'd see the below project if there was an approved project.</p>
    <hr>
  </div>
</div>
-->

<!-- Project Start -->
    <div class="row project">
      <div class="eight columns">
        <h2>Idea One Name</h2>
        <h3>Description of Idea</h3>
        <p>Idea details would go right here.  This is where they would be.  Idea details would go right here.  This is where they would be.  Idea details would go right here.  This is where they would be.  Idea details would go right here.  This is where they would be.</p>
        <p><small>Project Accepted On: 02/03/2018<br>
        Department/Unit/Lab Affected: Web Development</small></p>
      </div>
      <div class="four columns">
        <p class="button button-primary">546 Votes Were Received</p>
        <p><a href="javascript:alert('This would let you email the person running the project!')" class="button">Contact Project Leader</a></p>
        <p><a href="javascript:alert('This would go to an intranet site!');" class="button">Project Website</a></p>
      </div>
    </div>
<!-- Project End -->


<!-- Project Start -->
    <div class="row project">
      <div class="eight columns">
        <h2>Idea Two Name</h2>
        <h3>Description of Idea</h3>
        <p>Idea details would go right here.  This is where they would be.  Idea details would go right here.  This is where they would be.  Idea details would go right here.  This is where they would be.  Idea details would go right here.  This is where they would be.</p>
        <p><small>Project Accepted On: 02/03/2018<br>
        Department/Unit/Lab Affected: Web Development</small></p>
      </div>
      <div class="four columns">
        <p class="button button-primary">322 Votes Were Received</p>
        <p><a href="javascript:alert('This would let you email the person running the project!')" class="button">Contact Project Leader</a></p>
        <p><a href="javascript:alert('This would go to an intranet site!');" class="button">Project Website</a></p>
      </div>
    </div>
<!-- Project End -->


<!-- Project Start -->
    <div class="row project">
      <div class="eight columns">
        <h2>Idea Three Name</h2>
        <h3>Description of Idea</h3>
        <p>Idea details would go right here.  This is where they would be.  Idea details would go right here.  This is where they would be.  Idea details would go right here.  This is where they would be.  Idea details would go right here.  This is where they would be.</p>
        <p><small>Project Accepted On: 02/03/2018<br>
        Department/Unit/Lab Affected: Web Development</small></p>
      </div>
      <div class="four columns">
        <p class="button button-primary">123 Votes Were Received</p>
        <p><a href="javascript:alert('This would let you email the person running the project!')" class="button">Contact Project Leader</a></p>
        <p><a href="javascript:alert('This would go to an intranet site!');" class="button">Project Website</a></p>
      </div>
    </div>
<!-- Project End -->
  </div>
{% endblock %}
