{% extends "layout.html" %}
{% block body %}


  <div class="container">
    <div class="row">
      <div class="ten columns" style="margin-top: 5%">
        <h1>FAQ</h1>
        <h2>What is this?</h2>
        <p>This is a tool to collect ideas from Faculty, Staff and students about how to make the CVM a better place.  Ideas about job, environment and process improvements.  We needed a tool to get people excited about innovation and change.</p>
        <h2>Why would I use this?</h2>
        <p>You spend a large part of your day here.  You have important insights into what could be changed to make this a better place.  A better place for you and for those around you.  That's why!</p>
        <h2>How are ideas chosen for action?</h2>
        <p>Highly voted ideas will be presented to the Dean and/or a designated action committee.  Ideas approved there will be accepted, assigned and worked on.</p>
        <h2>My idea was voted highly but not selected to be worked on.  What gives?</h2>
        <p>Unfortunately, not every great idea can get legs.  Some changes may be too expensive to complete, for instance.  Other changes might not be in the best interest of the larger organization, even though they might help out a small local situation.  We are exploring ways to be transparent about the selection process.</p>
        <h2>I'd like to leave a comment about an idea, but there isn't a way to do it.  Why not?</h2>
        <p>Because we haven't added that yet!  This is a first step; hopefully this tool can grow as we get time and resources capable of supporting it.</p>
      </div>
    </div>

</div>
{% endblock %}
